{% extends 'course/layout.html' %}
{% block body %}

<div id="box">
    <h1>Request Course</h1>
    <br>
    <form action="{% url 'course:add' %}" method="post">
        {% csrf_token %}
        {% if noncourse|length == 0 %}
        <i>No course :(</i>
        {% else %}
        <select name="course">
            {% for course in noncourse %}
            <option value="{{ course.id }}">{{ course.subject }} year{{ course.semester }}/{{ course.year }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Request Course">
        {% endif %}
    </form>
</div>

<div id="box">
    <h1>Course List</h1>
    <ul>
        {% for courses in course %}
        <li>{{ courses.course.subject }} year{{ courses.course.semester }}/{{ courses.course.year }}
            <a href="{% url 'course:remove' courses.id %}"><button class="buttonremove">Remove</button></a>
        </li>
        {% empty %}
        <li>No course</li>
        {% endfor %}
    </ul>
</div>

<a href="{% url 'users:index' %}"><button class="button">Go to Profile</button></a>
{% endblock %}