h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 60px;
}

body {
    background-image: url("https://engr.tu.ac.th/uploads/images_virtual_bg/2021.7.12_210712_9_.jpg");
    background-color: rgb(39, 39, 39);
    background-size: cover;
}

#box {
    box-sizing: content-box;
    height: 250px;
    padding: 35px;
    padding-bottom: 45px;  
    margin: 150px;
    box-shadow: 5px 10px #444444;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
}

.button {
    padding: 25px 50px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff9553;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #444444;
}
  
.button:hover {
    background-color: #f1eb96;
    color: black;
}

.container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}